*
{
margin:0;
padding:0;
box-sizing:border-box;
}

body
{
background:white;
}

/* Styling the Navigation Bar*/

.nav
{
width:100%;
height:50px;
font-size:18px;
color:white;
background:linear-gradient(to bottom,#990099,#93f);
display:flex;
align-items:center;
justify-content:space-between;
flex-direction:row;
padding:12px 20px 12px 20px;
margin-top:5px;
border-top:3px solid #730099;
border-bottom:5px solid white;
}

.nav h2 
{
font-family:"Audiowide",sans-serif;
font-size:25px;
color:white;
text-shadow:2px 2px 15px rgba(0,0,0,0.3)
}

.list
{
display:flex;
gap:2rem;
}

.list li
{
color:white;
list-style:none;
font-family:Verdana,sans-serif;
text-decoration:none;
text-shadow:5px 5px 20px rgba(255,0,0,0.8);
}

.logo
{
display:flex;
align-items:center;
gap:1rem;
letter-spacing:2px;
}

/*Styling Hero Page*/

.hero
{
display:flex;
width:100%;
height:620px;
align-items:center;
justify-content:center;
gap:50px;
background:url(../img/hero.jpeg) no-repeat;
background-size:cover;
z-index:-1;
}

.left
{
background:rgba(0,0,0,0.1);
width:50vw;
height:400px;
text-align:center;
border-radius:30px;
box-shadow:10px 10px 80px rgba(255,0,0,0.4),
10px 10px 200px rgba(0,0,180,0.6);
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
gap:30px;
}

.hero-img
{
position:relative;
width:300px;
height:400px;
background:rgba(0,0,0,0.3);
border-radius:100px;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
box-shadow:10px 10px 80px rgba(255,0,0,0.4),
10px 10px 100px rgba(0,0,180,0.6);
}

.hero-img::before
{
content:"";
position:absolute;
width:100px;
height:600px;
background:linear-gradient(deeppink,slateblue);
border-radius:100px;
box-shadow:5px 5px 50px aqua;
animation:rotate 4s linear infinite;
}

.hero-img::after
{
content:"";
position:absolute;
inset:10px;
background:url(../img/oni.jpeg);
background-size:cover;
border-radius:90px;
}

/*Styling Hero-Header & Para*/

.hero-header
{
font-family:"Lobster",sans-serif;
font-size:50px;
text-shadow:2px 2px 50px deeppink,
3px 3px 2px white;
color:#4d0066;
}

.hero-para
{
font-family:Audiowide,sans-serif;
font-size:20px;
color:#4d0000;
letter-spacing:1px;
text-shadow:5px 5px 10px white;
}

.hero-button
{
font-family:Verdana,sans-serif;
font-size:15px;
color:white;
background:firebrick;
padding:10px 15px 10px 15px;
border:1px solid black;
text-shadow:2px 2px 15px rgba(0,0,0,0.7);
border-radius:20px;
box-shadow:5px 5px 20px rgba(0,0,0,0.8);
}

/*Styling the top section*/

.top
{
width:100%;
height:370px;
background:black;
display:flex;
align-items:center;
justify-content:flex-start;
flex-direction:column;
gap:20px;
}

.top h2
{
font-family:"Audiowide";
margin-top:20px;
letter-spacing:2px;
color:white;
font-size:30px;
text-shadow: 0 3px 20px deeppink,
0 3px 3px rgba(0,0,0,0.3);
}

.container
{
display:flex;
gap:80px;
}

.top1, .top2, .top3, .top4
{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:20px;
color:white;
font-size:18px;
font-weight:bold;
font-family:Helvetica,sans-serif;
letter-spacing:2px;
}

.top1-1, .top2-1, .top3-1, .top4-1
{
display:flex;
position:relative;
align-items:center;
justify-content:center;
width:150px;
height:150px;
background:rgba(0,0,0,0.2);
border-radius:30px;
overflow:hidden;
}

.top1-1::before, 
.top2-1::before, 
.top3-1::before, 
.top4-1::before
{
content:"";
display:flex;
position:absolute;
width:20px;
height:400px;
background:linear-gradient(to top,aqua,lime);
box-shadow:2px 2px 40px gold;
animation:rotate 3s linear infinite;
}


.top1-1::after
{
content:"";
position:absolute;
inset:10px;
border-radius:20px;
background:url(../img/flora.gif);
background-size:cover;
}

.top2-1::after
{
content:"";
position:absolute;
inset:10px;
border-radius:20px;
background:url(../img/darkdra.jpeg);
background-size:cover;
}

.top3-1::after
{
content:"";
position:absolute;
inset:10px;
border-radius:20px;
background:url(../img/dragter.gif);
background-size:cover;
}

.top4-1::after
{
content:"";
position:absolute;
inset:10px;
border-radius:20px;
background:url(../img/bgdra.gif);
background-size:cover;
}

/*Styling the Combine Section*/

.combine
{
display:flex;
margin:0;
padding:0;
}

.meme
{
width:100%;
height:250px;
background:rgba(0,0,0,0.9);
display:flex;
align-items:center;
justify-content:center;
font-size:30px;
flex-direction:column;
gap:30px;
font-family:"Trirong",sans-serif;
padding:20px 10px 20px 10px;
}

.meme q
{
letter-spacing:3px;
text-align:center;
color:firebrick;
font-weight:bold;
text-shadow:0 3px 10px rgba(0,0,0,0.7);
}

.meme p 
{
font-size:20px;
color:firebrick;
font-weight:bold;
text-shadow:0 3px 10px rgba(0,0,0,0.7);
letter-spacing:2px;
}

/*Styling the Contact Section*/

.contact
{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
width:30%;
height:250px;
padding:18px;
color:black;
background:#00bfff;
}

input[type=text]
{
display:inline-block;
padding:8px;
margin-top:3px;
margin-bottom:5px;
width:100%;
border-radius:5px;
}

input[type=submit]
{
padding:8px;
margin-top:0px;
margin-bottom:5px;
background:lime;
border-radius:10px;
display:inline-block;
width:50%;
}

/*Styling the footer*/

.footer
{
background:#6600ff;
height:40px;
padding:10px;
text-align:center;
color:white;
}

@keyframes rotate
{
0% {
 transform:rotate(0deg);
}
100% {
 transform:rotate(360deg);
}

